<ion-header>
  <ion-navbar>
    <ion-title>
      <h1>Home</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding ngApp="onlineShopping">

  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="shopping">
        Shopping
      </ion-segment-button>
      <ion-segment-button value="productsManagement">
        Products Management
      </ion-segment-button>
      <ion-segment-button value="cart">
        Cart
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid *ngIf="segment === 'shopping'">
    <ion-row>
      <div *ngFor="let product of LoadData">
        <ion-col col-4 col-x>
          <ion-card (click)="goDetail(product.id)">
            <a href=""><img src="https://via.placeholder.com/150"></a>
            <ion-title>
              {{ product.name }}
            </ion-title>
            <ion-card-content>
              <div>
                {{ product.description }}
              </div>
              <div>
                {{ product.price }}
              </div>
              <div>
                {{ product.description }}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </div>
    </ion-row>

  </ion-grid>

</ion-content>